<app-header></app-header>

<main class="w-100 flex justify-center flex-col items-center h-screen">
    <div class="card col-span-8 mx-2 mb-5">
        <h3 class="title">Acerca de Nosotros</h3>
        <p class="text-center">
            Somos una librería digital que busca acercar a las personas a la lectura de una forma más accesible y
            económica.
            Nuestro objetivo es fomentar la lectura y el aprendizaje a través de la tecnología.
        </p>
    </div>
    <div class="card col-span-4 mx-2 mb-5">
        <h3 class="title">
            <mat-icon>account_balance</mat-icon>
            Misión
        </h3>
        <p class="text-center">
            Nuestra misión es fomentar la lectura y el aprendizaje a través de la tecnología, ofreciendo una amplia
            variedad de libros digitales a precios accesibles. Buscamos acercar a las personas a la lectura de una forma más organizada y moderna.
        </p>
    </div>
    <div class="card col-span-4 mx-2 mb-5">
        <h3 class="title">
            <mat-icon>visibility</mat-icon>
            Visión
        </h3>
        <p class="text-center">
            Nuestra visión es ser una de las librerías digitales más grandes, reconocida por la innovación del sistema educativo y la generación de valor de sus soluciones, buscando ofrecer al público mejor calidad calidad de servicios en la educación.
        </p>
    </div>
</main>

<app-footer></app-footer>
